@page "{id}"
@model AT.Pages.Cidades.EditarCidadesModel

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<h2>Editar Cidade</h2>

<form method="post">
    <input type="hidden" asp-for="Cidade.CidadeID" />

    <div>
        <label asp-for="Cidade.Nome"></label>
        <div>
            <input asp-for="Cidade.Nome" />
            <span asp-validation-for="Cidade.Nome" class="text-danger"></span>
        </div>
    </div>

    <div>
        <label asp-for="Cidade.Descricao"></label>
        <div>
            <textarea asp-for="Cidade.Descricao"></textarea>
            <span asp-validation-for="Cidade.Descricao" class="text-danger"></span>
        </div>
    </div>

    <div>
        <label asp-for="Cidade.NumHabitantes"></label>
        <div>
            <input asp-for="Cidade.NumHabitantes" type="number" />
            <span asp-validation-for="Cidade.NumHabitantes" class="text-danger"></span>
        </div>
    </div>

    <div>
        <label asp-for="Cidade.PaisDestinoId">País Destino</label>
        <div>
            <select asp-for="Cidade.PaisDestinoId" asp-items="Model.PaisesList">
                <option value="">-- selecione --</option>
            </select>
            <span asp-validation-for="Cidade.PaisDestinoId" class="text-danger"></span>
        </div>
    </div>

    <button type="submit">Salvar</button>
    <a asp-page="/Cidades/VerCidades" class="btn btn-secondary" style="margin-left: 10px;">Cancelar</a>
</form>
