@page
@model AT.Pages.PaisDestino.IndexModel
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<h1 style="margin-bottom:40px">Cadastrar País</h1>

<form method="post">
    <div>
        <label>Pais:</label>
        <div>
            <input asp-for="PaisDestino.Pais" />
            <span asp-validation-for="PaisDestino.Pais"></span>
        </div>
    </div>

    <div>
        <label>Descrição:</label>
        <div>
            <textarea asp-for="PaisDestino.Description"></textarea>
            <span asp-validation-for="PaisDestino.Description"></span>
        </div>
    </div>

    <button style="margin-top:20px" type="submit">Enviar</button>
</form>

<h6 style="margin-top:40px">Fiz validações aí para ajudar na correção fiz esse preenchimento</h6>
<button type="button" onclick="PreencherExemplo()">Preencher com Exemplo </button>


<script>
    function PreencherExemplo() {
        document.querySelector('input[name="PaisDestino.Pais"]').value = "Brasil";
        document.querySelector('textarea[name="PaisDestino.Description"]').value = "Pais tropical";
    }
</script>


<button onclick="location.href='/Cadastro/VerCadastros'">
    Ver Paises
</button>

@if (!string.IsNullOrEmpty(Model.PaisDestino?.PaisDestinoID))
{
    <p style="margin-top:10px">Apenas didático e para testes</p>
    <div class="alert alert-success mt-3">
        País cadastrado com ID: <strong>@Model.PaisDestino.PaisDestinoID</strong>
    </div>
}