@page
@model AT.Pages.Cadastro.IndexModel

<h1>Cadastro de Usuário</h1>

<form method="post">
    <div>
        <label>Nome:</label>
        <input asp-for="Usuario.nome" />
    </div>
    <div>
        <label>Idade:</label>
        <input asp-for="Usuario.idade" type="number" />
    </div>
    <div>
        <label>CPF:</label>
        <input asp-for="Usuario.cpf" />
    </div>
    <div>
        <label>Email:</label>
        <input asp-for="Usuario.email" type="email" />
    </div>
    <button style="padding-top:20px" type="submit">Enviar</button>
</form>

@if (Model.Mensagem != null)
{
    <p style="color:green">@Model.Mensagem</p>
}


<h6 style="padding-top:40px">Fiz validações aí para ajudar na correção fiz esse prenchimento</h6>
<button type="button" onclick="preencherExemplo()">Preencher com Exemplo </button>


@* Esse eu procurei na net pq n lembrava como fazer exatamente
    A ideia é ajudar na correção
*@

<script>
    function preencherExemplo() {

        document.querySelector('input[name="Usuario.nome"]').value = "Fulano Teste";
        document.querySelector('input[name="Usuario.idade"]').value = "25";
        document.querySelector('input[name="Usuario.cpf"]').value = "000.111.222-33";
        document.querySelector('input[name="Usuario.email"]').value = "usuario@naoexiste.local";
    }
</script>
